.homeContainer {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
  scroll-behavior: smooth;
}

.homeContainer::-webkit-scrollbar{
  display: none;
}


.initial {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}